<div class="container">
	<header>
		<h1 class="page_title">Your Shopping Bag</h1>
	</header>
	<main>
		<div class="product-list" *ngIf="productsInCart">
			<div class="row list-caption hidden-sm hidden-xs">
				<div class="col-md-4  col-xs-6  item-count"><b>{{productsInCart.length}}</b> Items</div>
				<div class="col-md-8 col-xs-6">
					<div class="row">
						<div class="col-md-6"></div>
						<div class="col-md-2">size</div>
						<div class="col-md-2">qty</div>
						<div class="col-md-2">price</div>
					</div>
				</div>
			</div>
			<!-- Product Row -->
			<div class="row list-item" *ngFor="let cartItem of productsInCart">
				<div class="col-md-4  col-xs-6">
					<div class="product-image">
						<img src="assets/{{cartItem.p_img}}" alt="{{cartItem.p_name}}" class="img-responsive">
					</div>
				</div>
				<div class="col-md-8 col-xs-6">
					<div class="product-section">
						<div class="row">
							<div class="col-md-6">
								<div class="product-info">
									<h3 class="product-title">{{cartItem.p_variation}} {{cartItem.p_name}}</h3>
									<p>Style #: <span>{{cartItem.p_style}}</span></p>
									<p>Colour: <span>{{cartItem.p_selected_color.name}}</span></p>
								</div>
							</div>
							<div class="col-md-2">
								<p><span class="product-size">{{cartItem.p_selected_size.code | uppercase}}</span></p>
							</div>
							<div class="col-md-2">
								<div class="product-qty"><label class="hidden-md hidden-lg">Qty </label><input type="number" min="1" max="10" value="{{cartItem.p_quantity}}"
										(change)="updateQty(cartItem, qty)" #qty></div>
							</div>
							<div class="col-md-2">
								<div class="product-pre-price" *ngIf="cartItem.p_originalprice!=cartItem.p_price">{{(cartItem.p_originalprice*cartItem.p_quantity) | number : '1.2-2'}}</div>
								<div class="product-price">{{(cartItem.p_price*cartItem.p_quantity) | number : '1.2-2'}}</div>
							</div>
						</div>
						<div class="row hidden-sm hidden-xs d-view">
							<div class="col-md-12">
								<ul class="cart-action ">
									<li><a (click)="openEditModal(cartItem)">Edit</a></li>
									<li><a (click)="removeCartItem(cartItem)">X Remove</a></li>
									<li><a>Save For Later</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 hidden-md hidden-lg m-view">
					<ul class="cart-action">
						<li><a (click)="openEditModal(cartItem)">Edit</a></li>
						<li><a (click)="removeCartItem(cartItem)">X Remove</a></li>
						<li><a>Save For Later</a></li>
					</ul>
				</div>
			</div>
			<!-- Product Row End-->
		</div>

		<div class="add-product-section">
			<div class="row">
				<div class="col-md-3"><button class="btn btn-primary btn-block btn-addproduct" (click)="openAddModal()">Add Product</button></div>
			</div>
		</div>

		<!-- Payment Detail -->
		<div class="payment-detail-section">
			<div class="row">
				<div class="col-md-5 hidden-sm hidden-xs">
					<div class="help-block">
						<h4>Need Help or have questions?</h4>
						<p>Call Customer Service at <br> 1-800-555-555</p>
						<p>Chat with one of our stttylists</p>
						<p>See Return and exchange policy</p>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row coupon-section">
						<div class="col-md-5  col-xs-12 ">
							<span style="text-align: left">ENTER PROMOTION CODE <br> OR GIFT CARD</span>
						</div>
						<div class="col-md-5 col-xs-8"><input type="text" name="coupon" class="form-control"></div>
						<div class="col-md-2  col-xs-4">


							<button class="btn btn-default">APPLY</button>

						</div>
					</div>
					<div class="payment-description">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h5 class="caption">Subtotal</h5>
							</div>
							<div class="col-md-6 col-xs-6">
								<h5 class="value product-price">{{subTotal | number : '1.2-2'}}</h5>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h5 class="caption">Promotion Code {{promotionCode}} applied</h5>
							</div>
							<div class="col-md-6 col-xs-6">
								<h5 class="value product-price-dollar">{{discount | number : '1.2-2'}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h5 class="caption">Estimated Shipping*</h5>
								<p>You qualify for free shipping because your order is over 550*</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<h5 class="value">FREE</h5>

							</div>
						</div>
						<div class="row estimated">
							<div class="col-md-6 col-xs-6">
								<h2 class="caption">Estimated total</h2>
								<p>Tax will be applied while checkout</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<h2 class="value product-price">{{estimatedTotal | number : '1.2-2'}}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9 hidden-sm hidden-xs text-right"><a class="btn">Continue Shipping </a></div>
							<div class="col-md-3"><button class="btn btn-primary btn-block btn-checkout">CHECKOUT</button></div>

						</div>
						<div class="row">
							<div class="col-md-12 hidden-md hidden-lg text-center shipping-link"><a class="btn">Continue Shipping </a></div>
						</div>
						<div class="col-md-12 text-center secure-checkout">
							<p><img src="assets/lock.jpg" class="hidden-xs hidden-sm" alt="">Secure Checkout. Shopping is always safe and Secure</p>
							<div class="text-center hidden-md hidden-lg"><img src="assets/lock.jpg" alt=""></div>
						</div>
						<div class="col-md-12 hidden-md hidden-lg  sign-in-cta">
							<p><a href="">SIGN IN</a> to save your cart and have access to your item on mobile, tablet and desktop</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Payment Detail End  -->
	</main>
</div>

<!-- Modal -->
<div bsModal #childModal="bs-modal" class="modal fade" id="childModal" tabindex="-1" role="dialog" aria-labelledby="childModal"
	aria-hidden="true">
	<div class="modal-dialog" role="document" *ngIf="cartItem">
		<div class="modal-content">

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="close" aria-label="Close" (click)="hideChildModal()"><span aria-hidden="true">&times;</span></button>
					</div>
				</div>


				<div class="row">
					<div class="col-md-6 col-md-push-6 text-center"><img src="assets/{{cartItem.p_img}}" alt="{{cartItem.p_img}}" class="product-image-modal"></div>
					<div class="col-md-6 col-md-pull-6 text-center">
						<div class="modal-product-desc">
							<div class="modal-product-title">{{cartItem.p_name}}</div>
							<div class="modal-product-price">{{cartItem.p_price}}</div>
						</div>
						<div class="modal-product-meta" *ngIf="cartItem.p_available_options">
              <div>
                <span>{{cartItem.p_variation}}</span>
                <ul class="color-list" *ngIf="cartItem.p_available_options.colors">
                  <li *ngFor="let color of cartItem.p_available_options.colors" [class.active]="color.hexcode==cartItemColor.hexcode"
                    [style.background]="color.hexcode"><a class="color-btn" (click)="updateModalColor(color.hexcode)"><span class="sr-only">{{cartItem.p_variation}} {{color.name}}</span></a></li>
                </ul>
              </div>
              <div class="filter-option" *ngIf="cartItem.p_available_options.sizes">
                <select class="form-control" (change)="updateModalSize($event.target.value)">
                  <option>SIZE</option>
                  <option *ngFor="let size of cartItem.p_available_options.sizes" value="{{size.code}}" [selected]="cartItem.p_selected_size.code == size.code">{{size.name | uppercase}}</option>
                </select>
                <select class="form-control" (change)="updateModalQty($event.target.value)">
                  <option>QTY</option>
                  <option *ngFor="let i of qtyList" value="{{i}}" [selected]="cartItem.p_quantity == i">{{i}}</option>
                </select>
              </div>
              <div class="modal-error" *ngIf="isCartItemError">
                <span style="color:red;font-size: 12px;">Please fill the form before submitting !!!</span>
              </div>
              <div class="modal-cta-edit">
                <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="saveItem()">{{isEditMode==true ? 'EDIT' : 'ADD'}}</button>
              </div>
						</div>
						<div class="">
							<a class="product-detail-link">See product details</a>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</div>